
.landing-container {
    display: grid;
    grid-template-rows: 100vh 100vh  70vh repeat(3, min-content);
    
    @include respond(tablet-portrait) {
        grid-template-rows: 100vh repeat(5, min-content);
    }
    @include respond(phone) { 
        grid-template-rows: 100vh min-content 100vh repeat(2, min-content);
    }
}

