
//colors
$color-primary : #00121b;
$color-secondary: #000;
$color-dark-grey :#c4c4c4; 
$color-dark-blue :#212b35;
$color-white: #ffffff;
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #f7f7f7;
$color-gree-light-1: #55c57a;
$color-grey-dark-3: #333;

//grid padding
$grid-padding-left-right: 7%;
$gutter-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$gutter-horizontal-tools: 2rem;

//font
$default-font-size: 1.6rem;
