@keyframes headerMoveinLeft {
  0% {
    opacity: 0;
    transform: translateX(-10%); }
  80% {
    transform: translateX(2%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes iconMoveDown {
  0% {
    transform: translateY(0.1rem); }
  80% {
    transform: translateY(0.3rem); }
  100% {
    transform: translateY(0.6rem); } }

@keyframes headerMoveinRight {
  0% {
    opacity: 0;
    transform: translateY(10%); }
  80% {
    transform: translateX(-2%); }
  100% {
    opacity: 1;
    transform: translate(0); } }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 10px; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.heading-primary {
  font-size: 3.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to left, rgba(0, 18, 27, 0.8), rgba(5, 40, 80, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem; }
  .heading-primary:hover {
    text-shadow: 0.5rem 1rem 2rem rgba(0, 18, 27, 0.4); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.heading-tertiary-tools {
  font-size: 1.5rem;
  font-weight: 700; }

.landingContainer {
  display: grid;
  grid-template-rows: 3fr 3fr 3fr 3fr .5fr .5fr; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }
  .row .col-1-of-8 {
    width: calc((100% - 7 * 6rem) / 8); }

.footer {
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(5, 40, 80, 0.8)), url("../assets/image12.jpg");
  background-size: cover;
  background-attachment: fixed;
  /* background-color: black; */
  padding-left: 15%;
  padding-right: 15%;
  /* background-color: #dedede; */ }

.footer-container {
  position: relative;
  margin-top: 5%;
  color: #c4c4c4; }

.footer-container li {
  font-size: 2rem;
  list-style: none; }

.footer-container li > i {
  margin-right: 1%; }

.footer-container li:nth-child(1) {
  float: right; }

.footer-container ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex; }

.footer-container > ul > li {
  list-style: none; }

.footer-container > ul > li > a {
  position: relative;
  width: 6rem;
  height: 6rem;
  display: block;
  text-align: center;
  margin: 0 1rem;
  border-radius: 50%;
  padding: .6rem;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
  /* font-size: 3rem; */ }

.footer-container > ul > li > a:hover {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3); }

.footer-container > ul > li > a .fa {
  width: 100%;
  width: 100%;
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(6rem - 1.2rem);
  font-size: 2.4rem;
  color: #212b35;
  transition: .5s; }

.footer-container > ul > li:nth-child(1) a:hover .fa {
  color: #007bb5; }

.footer-container > ul > li:nth-child(2) a:hover .fa {
  color: #1da1f2; }

.footer-container > ul > li:nth-child(3) a:hover .fa {
  color: #c32aa3; }

.aboutContainer {
  position: relative;
  text-align: center;
  padding: 0 7% 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(5, 40, 80, 0.8)), url("../assets/image14.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: auto; }

.aboutContainer .about-profile > img {
  display: inline-block;
  height: 20rem;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 6%; }

.aboutContainer .about-profile h2 {
  margin-top: 2%;
  margin-bottom: 2%;
  /* color: #637381; */
  color: #c4c4c4;
  font-size: 2rem; }

.aboutContainer .about-text {
  text-align: left;
  padding-right: 17%;
  padding-left: 17%; }

.aboutContainer .about-text .about-text-paragraph {
  margin-bottom: 6%; }

.aboutContainer .about-text p {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  /* color: #637381; */
  line-height: 1.8;
  color: #c4c4c4; }

.aboutContainer .about-text h1 {
  font-family: Comic sans Ms;
  /* color: #637381; */
  font-weight: 100;
  margin-bottom: 8%;
  color: #c4c4c4; }

.aboutContainer .about-text #move-right-contact {
  text-align: right; }

.aboutContainer .about-text .about-slide-right {
  font-size: 2rem;
  font-weight: 500;
  /* color: #637381; */
  color: #c4c4c4;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 6%;
  text-align: right; }

.aboutContainer .about-text .about-slide-right:hover {
  text-decoration: underline;
  text-underline-position: under; }

.aboutContainer .about-text .about-slide-right:hover #move-right-icon {
  transform: translateX(0.3rem); }

.aboutContainer .about-text .about-slide-right:active #move-right-icon {
  transform: translateX(0.1rem); }

.header {
  padding: 0 7% 0;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.8), rgba(5, 40, 80, 0.8)), url("../assets/image11.jpg");
  background-size: cover;
  background-position: bottom;
  overflow: auto; }

#header-top {
  position: relative; }
  #header-top .weblogo > h1 {
    position: absolute;
    z-index: 1;
    margin-top: 3rem;
    top: 0;
    left: 0;
    color: #c4c4c4;
    font-size: 3rem; }
  #header-top .menu-wrap {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1; }
    #header-top .menu-wrap .navbarlinks > a {
      text-decoration: none;
      color: #c4c4c4;
      margin: 3rem;
      font-size: 2rem;
      font-weight: 500; }
    #header-top .menu-wrap .marketing-button {
      margin: 3rem;
      outline: none;
      display: inline-block;
      padding: 1.0625em 1.875em;
      border-radius: .5rem;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 1.133;
      text-align: center;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.15);
      background-color: #5c6ac4;
      color: #c4c4c4;
      border-width: 0;
      border-style: solid;
      border-color: transparent; }

.header-message {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
  text-align: center; }
  .header-message h1 {
    color: #c4c4c4;
    font-size: 7rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    animation-name: headerMoveinLeft 2s ease-out; }
  .header-message p {
    color: #c4c4c4;
    margin-top: 4%;
    font-size: 1.9rem;
    line-height: 1.2;
    text-align: center;
    animation-name: headerMoveinRight 2s ease-out;
    margin-bottom: 20%; }
  .header-message .btn {
    color: #c4c4c4;
    padding: 1.5rem 4rem;
    display: inline-block;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    backface-visibility: hidden; }
    .header-message .btn:hover {
      text-decoration: underline;
      text-underline-position: under; }
    .header-message .btn#move-down-icon {
      animation: iconMoveDown linear infinite;
      animation-duration: 1s; }

@media screen and (max-width: 702px) {
  .header-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .header-message > h1 {
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center; } }

.partnerbro {
  background-color: #553D67;
  padding: 0 7% 0; }

.programming-language {
  padding: 0 7% 0;
  background-color: #ffffff; }
  .programming-language .section-language {
    padding: 10rem 0; }
    .programming-language .section-language a {
      font-size: 2rem;
      font-weight: 500;
      text-decoration: none;
      display: inline-block;
      color: #00121b;
      margin-top: 2rem;
      margin-left: 6%; }
      .programming-language .section-language a:hover {
        text-decoration: underline;
        text-underline-position: under; }
        .programming-language .section-language a:hover i {
          transform: translateX(0.3rem); }
  .programming-language .languages-container {
    padding: 10rem 0; }

.remind-container {
  padding-right: 15%;
  padding-left: 7%; }

.remind-container {
  text-align: right;
  padding-top: 4%; }

.remind-container .back-top {
  color: black;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 500;
  transition: all .2s;
  display: inline-block; }

.back-top:hover {
  text-decoration: underline;
  text-underline-position: under; }

.remind-container .back-top:hover #move-up-icon {
  transform: translateY(-0.3rem); }

.language-box {
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: .3rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 18, 27, 0.15);
  transition: all .3s; }
  .language-box__icon {
    font-size: 7rem;
    margin-bottom: .5rem; }
    .language-box__icon.icon-javascript {
      color: #f1e05a; }
    .language-box__icon.icon-python {
      color: #3572A5; }
    .language-box__icon.icon-html {
      color: #e34c26; }
    .language-box__icon.icon-css {
      color: #563d7c; }
  .language-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  .language-box__text {
    font-size: 1.6rem; }

.tool-box {
  font-size: 1.5rem;
  text-align: center;
  transition: all .3s; }
  .tool-box__icon {
    font-size: 3rem;
    margin-bottom: .5rem; }
