

.footer {
  padding-left: 7%;
  padding-right: 7%;
  color: $color-dark-blue;

  &__logo-box {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-family: Comic;
    font-style: italic;
    font-weight: 100;
    @include respond(tablet-portrait) {  
      margin-bottom: 4rem;
  }
  }
  &__navigation {
    border-top: 1px solid $color-dark-blue;
    padding-top: 1rem;

    @include respond(tablet-portrait) { 
      width: 100%;
      text-align: center;
    }
  }
  &__list {
    list-style: none;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
        margin-right: 1.5rem;
    }
  }
  &__link {
      position: relative;
      width: 6rem;
      height: 6rem;
      display: block;
      text-align: center;
      margin: 0 1rem;
      border-radius: 50%;
      padding: .6rem;
      box-sizing: border-box;
      text-decoration: none;
      box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.3);
      background: linear-gradient(0deg, #ddd, #fff);
      transition: .5s;

        &:hover {
          box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.3); 
        }
        &:hover #link-1 {
          color: #007bb5;
        }
        &:hover #link-2 {
          color: #1da1f2;
        }
        &:hover #link-3 {
          color: #c32aa3;
        }
        &:hover #link-4 {
          color: $color-dark-blue;
        }
        i {
              width: 100%;
              width: 100%;
              display: block;
              background: linear-gradient(0deg, #fff, #ddd);
              border-radius: 50%;
              line-height: calc(6rem - 1.2rem);
              font-size: 2.4rem;
              color: $color-dark-blue;
              transition: .5s;
        }
        @include respond(phone) { 
          margin-bottom: .5rem;
        }
    }
    &__email {
      border-top: 1px solid $color-dark-blue;
      padding-top: 2rem;
      width: 80%;
      float: right;
      font-size: 2rem;
        i {
          margin-right: .5rem;
        }
        @include respond(tablet-portrait) {  
          width: 100%;
          float: none;
          text-align: center;
      }
    }
}
