
.language-box {
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-primary, .15);
    transition: all .3s;
    

    @include respond(tablet-portrait) {  
        padding: 2rem;
    }
    
    &__icon {
        font-size: 7rem;
        margin-bottom: .5rem;

        &.icon-javascript {
            color: #f1e05a;
        }
        &.icon-python {
            color: #3572A5;
        }
        &.icon-html {
            color: #e34c26;
        }
        &.icon-css {
            color: #563d7c;
        }
        @include respond(tablet-portrait) {  
            margin-bottom: 0;
            font-size: 5rem;
        }
    }
    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
    }
    &__text {
        font-size: $default-font-size;
    }
}

.tool-box {
    font-size: 1.5rem;
    text-align: center;
    transition: all .3s;
    margin-bottom: 3rem;

     &__icon {
        font-size: 3rem;
        margin-bottom: 0;
    }
}
