

#language{
    background-color: $color-white;
}

.programming-language{
    padding: 0 $grid-padding-left-right 0;
    
    .section-language {
        padding: 7rem 0;

        @include respond(tablet-portrait) {  
            padding: 5rem 0;
        } 

        .more-tools {
            text-align: center;
            
            & button {
                font-size: 2rem;
                cursor: pointer;
                color: $color-primary;
                border: none;
                outline: none;

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
    
                    & i {
                        transform: translateX(.3rem);
                    }
                }
                @include respond(phone) {  
                    background-color: white;
                }
            }

        }
    }
    .languages-container {
        padding: 10rem 0;
    }
}

